body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button{
    cursor: pointer;
  }
  
  .top-container {
    width: 100%;
    background-color: #ff7043;
    color: white;
    text-align: center;
    padding: 20px;
    height: 250px;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .top-container img {
    width: 150px;
    position: absolute;
    top: 20px;
    right: 80%;
    float: left;
  }

  
  .top-container h1 {
    margin: 0;
    padding: 20px 0;
    margin-top: 5%;
  }
  
  .top-container button {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
  }

    button{
      background-color: #ff7043;
      color: white;
      border: none;
      transition: 0.4s ease-in-out;
      cursor: pointer;
      padding: 10px;
      border-radius: 8px;
      margin-top: 10px;
    
    }
  
  .top-container button:hover {
    background-color: #ff5722;
    border-radius: 8px;
  }
  
  .habits-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .habit-card {
    background-color: white;
    border: 1px solid #ff5722;
    border-radius: 8px;
    width: 200px;
    margin: 30px;
    padding: 20px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }
  
  .habit-actions {
    position: absolute;
    margin-top: 80px;

    bottom: -30px; /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* space between icons */
    z-index: 2;
  }
  
  .habit-actions .fas {
    cursor: pointer;
    font-size: 15px; /* adjust as needed */
  }

  
  .habit-card img {
    width: 50px;
  }

  #history-modal{
    z-index: 20;
  }
  
  .overlay {
    display: none;
    position: absolute;
    transition: opacity 0.3s ease-in-out; /* Add this line */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    opacity: 0; /* Add this line */
    z-index: 1;
  }
  
  .habit-card:hover .overlay {
    display: flex;
    opacity: 1; /* Add this line */
  }

  .habit-card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }

  .habits-container{
    small{
        color: grey;
    }
    h3{
        color: grey;
    }
  }

  i{
    color: rgb(81, 81, 252);
}
  
  .neon-text {
    font-size: 24px;
    transition: 0.4s ease-in-out;
    color: #ff9e00; 
    text-shadow: 
      0 0 5px #ff9e00,   
      0 0 10px #ff9e00, 
      0 0 20px #ff9e00,
      0 0 40px #ff9e00,  
      0 0 80px #ff9e00,
      0 0 90px #ff9e00,
      0 0 100px #ff9e00;
  }   
  
  
  .modal {
    display: none;
    position: fixed;
    justify-content: center;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  .chart-container {
    max-width: 100%;
    height: auto;
    overflow: auto;
  }
  
  .modal-content {
    background-color: #fefefe;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    display: flex;
    margin: 15% 15% ;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    button{
      display: flex;
      align-items: center;
    }
    a{
      i{
        color: #ff5722;
      }
    }
  }
  
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-content input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .modal-content button {
    background-color: #ff7043;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #ff5722;
  }
  

  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .buttons-wrapper {
    button{
      border: 1px solid white;
      transition: 0.3s ease-in-out;
      border-radius: 8px;
      i{
        margin-right: 10px;
      }
    }

    button:hover{
      border: none;
    }

    button:nth-child(2){
      margin-left: 30px;
    }
  }
  
  .backtohomelink {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

.backtohomelink:hover {
  color: #ff7043;
}


.backtohomelink i {
  margin-right: 8px;
}
  @media (max-width: 600px) {
    .habit-card {
      width: 100%;
    }
  
    .modal-content {
      width: 90%;
    }
  }
  

  @media screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  @media (max-width: 1200px) {
    .top-container img {
      width: 100px;
      right: 70%;
    }
    
    .top-container h1 {
      font-size: 24px;
    }
    
    .top-container button {
      font-size: 14px;
    }
    
    .habit-card {
      width: 150px;
    }
    
    .modal-content {
      width: 250px;
    }
  }
  
  @media (max-width: 992px) {
    .top-container img {
      width: 80px;
      right: 80%;
    }
    
    .top-container h1 {
      font-size: 20px;
    }
    
    .top-container button {
      font-size: 12px;
    }
    
    .habit-card {
      width: 120px;
    }
    
    .modal-content {
      width: 200px;
    }
  }
  
  @media (max-width: 768px) {
    .top-container img {
      width: 60px;
      right: 80%;
    }
    
    .top-container h1 {
      font-size: 18px;
    }
    
    .top-container button {
      font-size: 10px;
    }
    
    .habit-card {
      width: 100px;
    }
    
    .modal-content {
      width: 150px;
    }
  }
  
  @media (max-width: 576px) {
    .top-container img {
      width: 50px;
      right: 80%;
    }
    
    .top-container h1 {
      font-size: 16px;
    }
    
    .top-container button {
      font-size: 8px;
    }
    
    .habit-card {
      width: 80px;
    }
    
    .modal-content {
      width: 100px;
    }
  }

  @media (max-width: 480px) {
    .top-container img {
      display: none;
    }
    
    .top-container h1 {
      font-size: 14px;
    }
    
    .top-container button {
      font-size: 8px;
    }
    
    .habit-card {
      width: 60px;
    }
    
    .modal-content {
      width: 80px;
    }
  }