*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.create-user-form{
    display: none;
    padding: 20px;
    width: 20vw;
    min-width: 280px;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 1px 1px lightgray;
}
.add-user{
    padding-left: 20px;
    padding-right: 20px;
}

.create-user-form  input{
    padding: 5px 10px;
    width: 15vw;
    min-width: 250px;
}

.bottom-buttons{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btnsubmit{
    margin-top: 20px;
    background-color: skyblue;
    border: none;
    padding: 10px 2px;
    color: white;
    cursor: pointer;
}
.btncancel{
    margin-top: 20px;
    background-color: skyblue;
    border: none;
    padding: 10px 2px;
    color: white;
    cursor: pointer;
}

button[value="Update"]{
    background-color: red;
}
button{
    background-color: skyblue;
    border: none;
    padding:5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.btnsubmit:hover{
    background-color: rgb(75, 186, 231);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60vw;
    height: fit-content;
  }

  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }